/* Värvide määramine */
:root {
	--bg-color: #F5F0CD;
	--lighter-bg-color: #fbf9ea;
	--main-color: #3674B5;
	--darker-main-color: #234b76;
	--text-color: #FADA7A;
}



/* Igal pool olev "body" */
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: var(--bg-color);
	height: 100%;
	margin: 0px;
}
#avaleht {
	height: 100%;
	margin: 0px;
}





/* Avaleht */
#suurLogo {
	text-align: center;
}
#veebilaulik {
	font-size: 40px;
}
.embed-submit-field{
	display: flex;
	justify-content: center;
	position: relative;
}
#otsimisVali {
	width: 100%;
	padding: 15px;
	font-size: 20px;
	border-radius: 20px;
	border: 2px solid black;
}
#otsimisKinnitus {
	position: absolute;
	right: 15px;
	top: 18px;
	font-size: 15px;
	cursor: pointer;
	background: var(--main-color);
	color: var(--text-color);
}
#searchForm {
	width: 40%;
	user-select: none;
	min-height: 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#soovitusteContainer {
	width: 80%;
	display: flex;
	flex-direction: column;
	margin-bottom: 60px;
}
#soovitused {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.soovitus {
	width: calc(100%/3 - 42px);
	background-color: var(--lighter-bg-color);
	border: 1px solid var(--darker-main-color);
	margin: 10px;
	padding: 10px;
	cursor: pointer;
}
.soovitus:hover{
	width: calc(100%/3 - 22px);
	margin: 0px;
	animation-name: changeWidth;
	animation-duration: 0.1s;
}
@keyframes changeWidth {
	from {width: calc(100%/3 - 42px);margin: 10px;}
	to {width: calc(100%/3 - 22px);margin: 0px;}
}
.soovitusId{
	text-align: right;

}



/* Laulu leht */
/*HEADER*/
/* Style the header with a grey background and some padding */
.header {
	width: 100%;
	overflow: hidden;
	background-color: var(--main-color);
	padding-bottom: 20px;
	padding-top: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 30px;
  font-weight: bold;
  color: var(--text-color);
}

/* Change the background color on mouse-over */
.header a:hover {
  border: 1px dashed var(--text-color);
}
#topbarSearch {
	min-width: 400px;
	user-select: none;
}

#topbarOtsimisVali{
	width: 100%;
	padding: 13px;
	font-size: 15px;
	border-radius: 20px;
	border: 2px solid black;
}
#topbarOtsimisKinnitus{
	position: absolute;
	right: 15px;
	top: 12px;
	font-size: 15px;
	cursor: pointer;
	background: var(--main-color);
	color: var(--text-color);
}


#nupuDiv {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-top: 30px;
	padding-bottom: 20px;
}
.suurNupp {
	background-color: rgba(0,0,0,0);
	border-color: rgba(0,0,0,0);
	cursor: pointer;
	color: var(--main-color);
	font-size: 20px;
}
.suurNupp:hover{
	color: var(--darker-main-color);
}


#lauluDiv {
	font-size: 20px;
}
#lauluContainer {
	display: flex;
	flex-direction: row;
	border: 1px solid #CCCCCC; 
	padding: 60px;
	padding-top: 20px;
	margin-top: 10px;
	margin-bottom: 40px;
	background-color: var(--lighter-bg-color);
}
#lauluPealkiri{
	margin-bottom: 5px;
}
#originaalPealkiri{
	margin-top: 0px;
	margin-bottom: 15px;
	font-weight: normal;
}
#lauluInfo {
	margin-bottom: 32px;
	margin-top: 20px;
}
#valikuDiv{
	display: flex;
	flex-direction: column;
	margin-left: 40px;
	margin-top: 20px;
}
.dropdown{
	font-size: 15px;
	padding: 5px;
	border-radius: 10px;
}



/*FOOTER*/
.footer {
	width: 100%;
	background-color: var(--main-color);
	margin-top: 20px;
	padding-bottom: 20px;
	padding-top: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.footerLink {
	display: block;
  position: relative;
  padding: 0.2em 0;
	width: calc(100%/3);
	flex-grow: 0;
	text-align: center;
	color: var(--text-color);
	font-size: 20px;
	text-decoration: none;
	margin-top: 10px;
	margin-bottom: 10px;
}
/* Scale from center */
.footerLink::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.2em;
  background-color: var(--text-color);
  transition: opacity 300ms, transform 300ms;
}

.footerLink:hover::after,
.footerLink:focus::after{
  transform: scale(0.4);
  opacity: 1;
}







/* Otsingu leht */
#otsinguContainer{
	width: 50%;
	padding: 40px;
	text-align: center;
}
.otsinguNupp{
	font-size: 20px;
}
#otsinguLahter {
	width: 2ch;
}